:root {
    --calendar-bg-color: #ffffff;
    --calendar-border-color: #E1E4EA;
    --calendar-border-radius: 12px;
    --calendar-header-padding: 4px 8px;
    --calendar-header-bg-color: #F5F7FA;
    --calendar-header-border-radius: 8px;
    --ripple-color: rgba(4, 16, 26, 0.3);
}

.vue-persia-datepicker__container {
    background-color: var(--calendar-bg-color);
    height: fit-content;
    padding: 16px;
    border: 1px solid var(--calendar-border-color);
    border-radius: var(--calendar-border-radius);
    overflow: hidden;
}
.vue-persia-datepicker__header {
    padding: var(--calendar-header-padding);
    margin-bottom: 8px;
    background-color: var(--calendar-header-bg-color);
    border-radius: var(--calendar-header-border-radius);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
}
.vue-persia-datepicker__header .vue-persia-datepicker__header_calendar_days {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.vue-persia-datepicker__header .vue-persia-datepicker__header__month_year {
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
    padding: 2px 24px;
    border: 1px solid var(--calendar-border-color);
    background-color: var(--calendar-bg-color);
    border-radius: 20px;
    cursor: pointer;
}

.vue-persia-datepicker__header_calendar_days button {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    height: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: 4px;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background: var(--ripple-color, rgba(0, 0, 0, 0.2));
    transform: scale(0);
    animation: ripple-animation 0.6s linear;
    pointer-events: none;
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}