:root {
    --calendar-bg-color: #ffffff;
    --calendar-border-color: #E1E4EA;
    --calendar-border-radius: 12px;
    --calendar-header-padding: 4px 8px;
    --calendar-header-bg-color: #F5F7FA;
    --calendar-header-border-radius: 8px;
}

.vue-persia-datepicker__container {
    background-color: var(--calendar-bg-color);
    height: fit-content;
    padding: 16px;
    border: 1px solid var(--calendar-border-color);
    border-radius: var(--calendar-border-radius);
    overflow: hidden;
}
.vue-persia-datepicker__header {
    padding: var(--calendar-header-padding);
    margin-bottom: 8px;
    background-color: var(--calendar-header-bg-color);
    border-radius: var(--calendar-header-border-radius);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
}