:root {
    --calendar-bg-color: #ffffff;
    --calendar-border-color: #E1E4EA;
    --calendar-border-radius: 12px;
    --calendar-header-padding: 12px;
    --calendar-header-bg-color: #F5F7FA;
    --calendar-header-border-radius: 8px;
    --ripple-color: rgba(4, 16, 26, 0.3);
    --calendar-select-bg-color: #335CFF;
    --calendar-select-text-color: #ffffff;
    --calendar-current: #335CFF;
    --calendar-month_Year_item-bg-color: #F5F7FA;
    --calendar-in-range-bg-color: #EBF1FF;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.2s ease;
}

.fade-enter-from, .fade-leave-to {
    opacity: 0;
}

.fade-enter-to, .fade-leave-from {
    opacity: 1;
}

.vue-persia-datepicker__container {
    background-color: var(--calendar-bg-color);
    height: fit-content;
    padding: 16px;
    border: 1px solid var(--calendar-border-color);
    border-radius: var(--calendar-border-radius);
    overflow: hidden;
    width: 300px;
    height: fit-content;
}
.vue-persia-datepicker__header {
    padding: var(--calendar-header-padding);
    margin-bottom: 8px;
    background-color: var(--calendar-header-bg-color);
    border-radius: var(--calendar-header-border-radius);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 20, 0.03);
}

.vue-persia-datepicker__header :is(.vue-persia-datepicker__header_calendar_days, .vue-persia-datepicker__header_calendar_months) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vue-persia-datepicker__header .vue-persia-datepicker__header__month_year {
    display: flex;
    gap: 4px;
    padding: 4px 24px;
    border: 1px solid var(--calendar-border-color);
    background-color: var(--calendar-bg-color);
    border-radius: 20px;
    cursor: pointer;
}

:is(.vue-persia-datepicker__header_calendar_days, .vue-persia-datepicker__header_calendar_months) button {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    height: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: 4px;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background: var(--ripple-color, rgba(0, 0, 0, 0.2));
    transform: scale(0);
    animation: ripple-animation 0.6s linear;
    pointer-events: none;
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.vue-persia-datepicker__calendar_days .vue-persia-datepicker__calendar_days_weekdays_header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin: 12px 0;
    text-align: center;
    direction: rtl;
    font-weight: 600;
}
.vue-persia-datepicker__calendar_days .vue-persia-datepicker__calendar_days_weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    direction: rtl;
}

.vue-persia-datepicker__calendar_days .vue-persia-datepicker__calendar_days_weekdays .vue-persia-datepicker__calendar_day {
    padding: 7px;
    background-color: var(--calendar-header-bg-color);
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    z-index: 2;
}
.vue-persia-datepicker__calendar_days .vue-persia-datepicker__calendar_days_weekdays .vue-persia-datepicker__calendar_day:not(.empty):hover {
    cursor: pointer;
    border-color: var(--calendar-border-color);
}

:is(.vue-persia-datepicker__calendar_day_selected, .vue-persia-datepicker__calendar_month_selected, .vue-persia-datepicker__calendar_year_selected) {
    background-color: var(--calendar-select-bg-color) !important;
    color: var(--calendar-select-text-color) !important;
}
:is(.vue-persia-datepicker__calendar_current_day, .vue-persia-datepicker__calendar_current_month, .vue-persia-datepicker__calendar_current_year)  {
    color: var(--calendar-current);
}
.vue-persia-datepicker__calendar_current_dot {
    display: block;
    width: 3px;
    height: 3px;
    aspect-ratio: 1/1;
    background-color: var(--calendar-current);
    border-radius: 100%;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
}
:is(.vue-persia-datepicker__calendar_day_selected, .vue-persia-datepicker__calendar_month_selected, .vue-persia-datepicker__calendar_year_selected, .vue-persia-datepicker__calendar_is_range_start, .vue-persia-datepicker__calendar_is_range_end) .vue-persia-datepicker__calendar_current_dot {
    background-color: var(--calendar-select-text-color);
}

/* Month Styles */
.vue-persia-datepicker__calendar_month_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    text-align: center;
    align-items: center;
    direction: rtl;
}
.vue-persia-datepicker__calendar_month_grid .vue-persia-datepicker__calendar_month_item {
    background-color: var(--calendar-month_Year_item-bg-color);
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
.vue-persia-datepicker__calendar_month_grid .vue-persia-datepicker__calendar_month_item:hover {
    border-color: var(--calendar-border-color);
}

/* Year Selector Style */

.vue-persia-datepicker__calendar_year_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    text-align: center;
    align-items: center;
    max-height: 240px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    direction: rtl;
}
.vue-persia-datepicker__calendar_year_grid::-webkit-scrollbar {
    display: none;
}
.vue-persia-datepicker__calendar_year_grid .vue-persia-datepicker__calendar_year_item {
    background-color: var(--calendar-month_Year_item-bg-color);
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
.vue-persia-datepicker__calendar_year_grid .vue-persia-datepicker__calendar_year_item:hover {
    border-color: var(--calendar-border-color);
}
.vue-persia-datepicker__calendar_day.vue-persia-datepicker__calendar_is_in_range {
    background-color: var(--calendar-in-range-bg-color) !important;
}
.vue-persia-datepicker__calendar_day.vue-persia-datepicker__calendar_is_range_start ~ .vue-persia-datepicker__calendar_day:hover {
    background-color: var(--calendar-in-range-bg-color) !important;
}
.vue-persia-datepicker__calendar_day.vue-persia-datepicker__calendar_is_range_start,
.vue-persia-datepicker__calendar_day.vue-persia-datepicker__calendar_is_range_end {
    background-color: var(--calendar-select-bg-color) !important;
    color: var(--calendar-select-text-color);
}
.vue-persia-datepicker__calendar_day.vue-persia-datepicker__calendar_is_range_start {
    border-radius: 0 4px 4px 0 !important;
}
.vue-persia-datepicker__calendar_day.vue-persia-datepicker__calendar_is_range_end {
    border-radius: 4px 0 0 4px !important;
}
